div{

    height: 100px;
    width: 100px;
    background-color: rgb(91, 132, 110);
    color: azure;
    border-radius: 10px;
    text-align: center;
    transition: width 3s;
    transition-delay: height 1s;
}

/* p{
    text-align: center;
    padding: 80px 40px 30px 40px;
    font-size: 15px;

} */

 div:hover{

    height: 200px;
    width: 500px;
    background-color: cornflowerblue;
    color: azure;
    border-radius: 10px;
   
} 

#div1 {transition-timing-function: linear;}
#div1 {transition-timing-function: ease;}
#div1 {transition-timing-function:ease-in;}
#div1 {transition-timing-function: ease-out;}
#div1 {transition-timing-function: ease-in-out;}
